*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 10px;
  background-color: #171614;
}
#laberinto{
  position: relative;
  background-color: green;
  background-image: url(laberinto.png);
  display: none;
}
#panelJuego{
  float: left;
  width: 400px;
}
.panelDerecho{
float:right;
width: 310px;
border-style: solid;
border-radius: 10px;
border-color: green;

}


#panelMensajes{
  font-family: monospace;
  background-color: white;
  height: 250px;
  margin-bottom: 25px;
  overflow-y: scroll;
  border: 1px solid black;
  padding: 7px;
  font-size: 10.5px;
  border-radius: 5px;
  opacity: 80%;
}
#panelMensajes p.log{
  padding:4px 0.3px;
}

#robot1 {
  text-align: center;
  position: absolute;
  background-color: #1d3f75;
  z-index: 2;
}

#elemento-escenario{
  position: relative;
  z-index: 1;
}

.path{
  border:0.4px dotted black;
  float: left;
  background-color: grey;
    background-image: url(./img/pasto.png);
}

.wall{
  border:0.4px dotted black;
  float: left;

  background-image: url(./img/ladrillo.png);
  object-fit: contain;
}



/*TECLADO*/

div#teclas{
  position:relative;
  overflow: hidden;
  font-size: 30px;
  font-weight: bolder;
}
div#teclas>div{
  overflow: hidden;;
}

div#teclas button, #botonConfiguracion{
  color: white;
  outline: none;
}

div#teclas button::selection, div#teclas button *::selection, #botonConfiguracion::selection{
  background-color: initial;
}
div#teclas button:hover{
  color: green !important;
}

#botonConfiguracion{
  position: absolute;
  right:250px;
  top:300px;
  padding:5px;
   border:2px solid #ccc;
   -webkit-border-radius: 5px;
   background-color: green;
   border-radius: 5px;
   border-color:yellow;
   width: 60px;
   height: 50px;

}

button {
    border: none;
    padding: 10px;
    width: 50px;
    height: 45px;
    font-size: 13px;
    cursor: pointer;
    background-color: #080808;
}

button:active {
    color: red;
    background-color: grey;
}

button:disabled,
button[disabled]{
    visibility: hidden;
}

div.fila1, div.fila2{
  overflow: hidden;
  width: 50%;
  margin-left: 37%;
}
div.fila3{
  overflow: hidden;
  width: 50%;
  margin-left: 41%;
}
div.fila1 div.letra, div.fila2 div.letra, div.fila3 div.letra{
  float: left;
}


/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  margin:2px;
  padding: 2px;
  border:none;
}

/* Track */
::-webkit-scrollbar-track {
  margin:1px;
  border:none;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*TOOLTIPS*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  font-family: monospace;
  visibility: hidden;
  width: 120px;
  background-color: #d9c3eb;
  color: #0e0714;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -7px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #d9c3eb transparent transparent;
}
.tooltipVisible .tooltiptext {
  visibility: visible;
}
